<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>河长登录</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        html, body {
            height: 100%;
        }

        input.ico {
            font-size: 16px;
            width: 300px;
            height: 30px;
            line-height: 30px;
            padding: 10px;
            margin: 3px;
            color: #65c7d0;
            border: none;
            outline: none;
            padding-left: 45px;
        }

        input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: #218390;
        }

        input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #218390;
        }

        input:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #218390;
        }
    </style>
    <script>
        $(function () {
            $("#txtaccount").empty();
            $("#txtpassword").empty();
            $("#txtcode").empty();

            GetVCode();
        });

        function LoginInfo() {
            var userName = $("#txtaccount").val();
            var password = $("#txtpassword").val();
            var code = $("#txtcode").val();

            alert("用户名：" + userName + "\n\r密码：" + password + "\n\r验证码：" + code + "," + VCode);

            return false;
        }
    </script>
</head>
<body style="background: #030d1f url('/images/login/bg.jpg') top right;">
    <div style="position: absolute; top: 170px; right: 204px; height: 60px; line-height: 60px; color: white; width: 435px; text-align: center; font-family: 'Microsoft YaHei'; font-size: 30px; font-weight: bold; letter-spacing: 0.2em;">河湖长制工作管理系统</div>
    <div style="position: absolute; top: 240px; right: 204px; height: 378px; width: 452px; background: url('/images/login/tab1.png') center center no-repeat;">
        <div style="position: absolute; top: 50px; left: 45px; height: 56px; width: 372px;">
            <div style="position: absolute; top: 0; left: 0; height: 56px; width: 372px; border: 1px solid #65c7d0;">
                <input type="text" id="txtaccount" class="ico" style="background: transparent url('/images/login/1.png') 20px center no-repeat;" placeholder="请输入您的用户名/手机号/邮箱" />
            </div>
        </div>
        <div style="position: absolute; top: 130px; left: 45px; height: 56px; width: 372px;">
            <div style="position: absolute; top: 0; left: 0; height: 56px; width: 372px; border: 1px solid #65c7d0;">
                <input type="password" id="txtpassword" class="ico" style="background: transparent url('/images/login/2.png') 20px center no-repeat;" placeholder="请输入您的密码" />
            </div>
        </div>
        <div style="position: absolute; top: 210px; left: 45px; height: 56px; width: 372px;">
            <div style="position: absolute; top: 0; left: 0; height: 56px; width: 180px; border: 1px solid #65c7d0;">
                <input type="text" id="txtcode" class="ico" style="background: transparent url('/images/login/2.png') 20px center no-repeat; width: 110px;" placeholder="请输入验证码" />
            </div>
            <div style="position: absolute; top: 0; left: 192px; height: 56px; width: 180px; border: 1px solid #65c7d0;">
                <canvas id="canvas" width="174" height="50" style="background-color: white; margin: 3px;" title="点击刷新验证码"></canvas>
            </div>
        </div>
        <div style="position: absolute; top: 290px; left: 45px; height: 56px; width: 372px; text-align: center;">
            <a href="javascript:void(0)" onclick="return LoginInfo();">
                <img src="/images/login/denglu.png" /></a>
        </div>
    </div>
    <div style="position:absolute;top:630px; right:204px; height:30px; line-height:30px; width:435px; color: #0a63a9; text-align:center; font-family:'Microsoft YaHei';font-size: 15px; font-weight: bold; letter-spacing: 0.3em;">江苏赛立科技有限公司</div>
    <script>
        function draw2(vcode) {
            var canvas_width = $('#canvas').width();
            var canvas_height = $('#canvas').height();
            var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
            var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
            canvas.width = canvas_width;
            canvas.height = canvas_height;
            for (var i = 0; i <= vcode.length; i++) {
                //var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
                var deg = RandomNumBoth(-30, 30) * Math.PI / 180;
                var txt = vcode[i];//得到随机的一个内容
                var x = 20 + i * 40;//文字在canvas上的x坐标
                //var y = 30 + Math.random() * 8;//文字在canvas上的y坐标
                var y = 30 + RandomNumBoth(-8, 8);
                context.font = "bold 25px 微软雅黑";

                context.translate(x, y);
                context.rotate(deg);

                context.fillStyle = randomColor();
                context.fillText(txt, 0, 0);

                context.rotate(-deg);
                context.translate(-x, -y);
            }
            for (var i = 0; i <= 5; i++) { //验证码上显示线条
                context.strokeStyle = randomColor();
                context.beginPath();
                context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
                context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
                context.stroke();
            }
            for (var i = 0; i <= 30; i++) { //验证码上显示小点
                context.strokeStyle = randomColor();
                context.beginPath();
                var x = Math.random() * canvas_width;
                var y = Math.random() * canvas_height;
                context.moveTo(x, y);
                context.lineTo(x + 1, y + 1);
                context.stroke();
            }
        }

        function RandomNumBoth(Min, Max) {
            var Range = Max - Min;
            var Rand = Math.random();
            var num = Min + Math.round(Rand * Range); //四舍五入
            return num;
        }

        function randomColor() {//得到随机的颜色值
            var r = Math.floor(Math.random() * 256);
            var g = Math.floor(Math.random() * 256);
            var b = Math.floor(Math.random() * 256);
            return "rgb(" + r + "," + g + "," + b + ")";
        }

        var VCode;
        function GetVCode() {
            VCode = "1234";
            draw2(VCode);
        }

        $("#canvas").on('click', function () {
            GetVCode();
        });
    </script>
</body>
</html>
